
<!--  -->
<%- include('partials/header') -%>





  <div class="container">
    <div class="bg-1"></div>
<div class="bg-3"></div>
    <div class="row justify-content-center mt-5">
      <ul class="row list-unstyled">

        <div class="main-scroll-div">
          <div>
              <button class="icon" onmouseover="scrolll()"> <i class="fas fa-angle-double-left"></i></button>
              <!-- <button class="icon" onclick="scrolll()"> <i class="fas fa-angle-double-left"></i></button> -->
          </div>
          <div class="cover">
              <div class="scroll-images">
                <% for(var i=0; i<posts.length; i++) {%>
                  <div class="child">
                      <a href="/post/<%= posts[i]._id%>">
                        <img class="img-feed child-img" src="<%= posts[i].image%>">
                      </a>
                  </div>
                <% } %>
              </div>
          </div>
          <div>
              <button class="icon" onmouseover="scrollr()"> <i class="fas fa-angle-double-right"></i></button>
          </div>
        </div>


<!--         
        <% for(var i=0; i<posts.length; i++) {%>
          <li class="col-6 justify-content-between mt-5">


            <a href="/post/<%= posts[i]._id%>">
              <img class="img-feed" src="<%= posts[i].image%>">
            </a>
          </li>
        <% } %> -->
        
      
      
      </ul>
    </div>
  </div>  
  
  
  
  
<%- include('partials/footer') -%>

<script type="text/javascript" src="/scripts/main.js"></script>